<div class="moment-holder">
  <section class="moment">
    <div class="perspective-holder of{{ numPerspectives }}">
      {{#each perspectives}}
      <div class="perspective secondary" data-index="{{ @index }}" data-filepath="{{ this.filepath }}" data-location="{{ this.location }}" data-starttime="{{ this.starttime }}" data-duration="{{ this.duration }}">
        <div class="play-overlay"> <span class="glyphicon glyphicon-play"></span></div>
        <video src="{{ this.filepath }}" preload="metadata" muted></video>
        <h2 class="perspective-username">{{ this.username }}</h2>
      </div>
      {{/each}}
    </div>

    <div class="perspective primary">
      <video preload="metadata"></video>
    </div>

    <div class="controls"></div>
    <div class="map-view"></div>
    <div class="metadata">
      <span class="location"></span>
      <span class="timestamp"></span>
    </div>
  </section>
</div>
